.DS_Store
node_modules/
platforms/
www/static/
.idea/
www/static/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace




Thumbs.db
UserInterfaceState.xcuserstate
